Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
/debian/files
/debian/libsignon-glib-dev/
/debian/libsignon-glib-doc/
/debian/libsignon-glib0-dbg/
/debian/libsignon-glib0.postinst.debhelper
/debian/libsignon-glib0.postrm.debhelper
/debian/libsignon-glib0.substvars
/debian/libsignon-glib0/
/debian/stamp-*
/debian/tmp/
depcomp
.*
*.o
*.lo
*.la
*.stamp
/docs/reference/html/
/docs/reference/libsignon-glib*
/docs/reference/tmpl/
/docs/reference/xml/
gtk-doc.make
install-sh
*.pc
/libsignon-glib/signon-marshal.c
/libsignon-glib/signon-marshal.h
libtool
ltmain.sh
missing
stamp-h1
*~
*.cache
patches/
